mainmenu "X-CAN"
source "Kconfig.zephyr"
config XCAN_USB
    bool "Vendor USB bringup protocol"
    default n
config XCAN_USB_VID
    hex "USB vendor ID"
    range 0x1 0xffff
    default 0xC0CA
config XCAN_USB_PID
    hex "USB product ID"
    range 0x1 0xffff
    default 0x0313
